  <!-- ***** Footer Area Start ***** -->
  <footer class="footer-area section-padding-80-0">
    <div class="container">
      <div class="row">

        <!-- Single Footer Widget -->
        <div class="col-12 col-sm-6 col-lg-4">
          <div class="single-footer-widget mb-80">
            <!-- Widget Title -->
            <h4 class="widget-title">About Us</h4>

            <p>
              Lyrics Together providing Latest Hindi and Punjabi Songs Lyrics  
            </p>
            
          </div>
        </div>

        <!-- Single Footer Widget -->
        <div class="col-12 col-sm-6 col-lg-4">
          <div class="single-footer-widget mb-80">
            <!-- Widget Title -->
            <h4 class="widget-title">Categories</h4>

            <!-- Catagories Nav -->
            <nav>
              <div class="row">
                <div class="col-6 ">
                  <ul class="catagories-nav">
                    <li class="m-0"><a href="/songs/hindi">Hindi</a></li>
                    <li class="m-0"> <a href="/songs/punjabi">Punjabi</a></li>
                  </ul>
                </div>
                <div class="col-6">
                  <ul class="catagories-nav">
                    <li class="m-0"><a href="/songs/english">English</a></li>
                    <li class="m-0"><a href="/songs/tamil">Tamil</a></li>
                  </ul>
                </div>
                
              </div>
             
            </nav>
          </div>
        </div>

       

        <!-- Single Footer Widget -->
        <div class="col-12 col-sm-6 col-lg-4">
          <div class="single-footer-widget mb-80">
            <!-- Widget Title -->
            <h4 class="widget-title">Contact Us</h4>
            <!-- Social Info -->
            <div class="">
              <a>info.lyricstogether@gmail.com</a>
           
            </div>
            
          </div>
        </div>

      </div>
    </div>
  </footer>
  <!-- ***** Footer Area End ***** -->
