  <!-- ***** Header Area Start ***** -->
  <header class="header-area " style="background-color: #b358fd;" >
    <!-- Main Header Start -->
    <div class="main-header-area">
      <div class="classy-nav-container breakpoint-on">
        <!-- Classy Menu -->
        <nav class="classy-navbar justify-content-between" id="pocaNav">

          <!-- Logo -->
          <a class="nav-brand" href="/home">
            <span class="text-white font-italics" style="margin-left: -7px;">L</span>
            <span class="text-white font-italics" style="margin-left: -7px;">y</span>
            <span class="text-white font-italics" style="margin-left: -7px;">r</span>
            <span class="text-white font-italics" style="margin-left: -7px;">i</span>
            <span class="text-white font-italics" style="margin-left: -7px;">c</span>
            <span class="text-white font-italics" style="margin-left: -7px;">s</span>
            <span class="text-white  font-italic " style="margin-left: -7px; font-size: 12px;" >Together</span>
          </a>

          <!-- Navbar Toggler -->
          
          <!-- Top Search Area -->
          <div class="w-75 top-seach-large">
            <form action="/search" method="POST">
              <input type="search" name="song" class="form-control  border" placeholder="Search and Enter...">
            </form>
          </div>
          <div class="classy-navbar-toggler">
            <span class="navbarToggler"><span></span><span></span><span></span></span>
          </div>

          <!-- Menu -->
          <div class="classy-menu">


            <!-- Nav Start -->
            <div class="classynav mt-0">

            <!-- Top Search Area -->
              <div class="top-search-area top-seach-small mb-3">
                <form action="/search" method="POST">
                  <input type="search" name="song" class="form-control  border" placeholder="Search and Enter...">
                </form>
              </div>

              <ul id="nav mt-5">
                <li class="current-item"><a href="/home">Home</a></li>
                <li class=""><a href="/songs/english">English</a></li>
                <li class=""><a href="/songs/hindi">Hindi</a></li>
                <li class=""><a href="/songs/punjabi">Punjabi</a></li>
                <li class=""><a href="/songs/tamil">Tamil</a></li>

                <li class=""><a href="/singers/a">Singers</a></li>
                <li><a href="/contact">Contact</a></li>
              </ul>

            </div>
            <!-- Nav End -->
          </div>
        </nav>
      </div>
    </div>
  </header>
  <!-- ***** Header Area End ***** -->
