<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
  <meta name="title" content="<%=title %>">
  
  <meta name="description" content="<%=description %>">
  <meta name="keywords" content="<%= keywords %>">
  <!-- Title -->
  <title><%= pageTitle %></title>

  <!-- Favicon -->
  <link rel="icon" href="/public/img/core-img/favicon.ico">

  <!-- Core Stylesheet -->
  <link rel="stylesheet" href="/public/style.css">

  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-178002183-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-178002183-2');
</script>


</head>

<body>